{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Login
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='signin.css')}}">
{% endblock %}

{% block content %}
    <div class="container">

      <form class="form-signin" method="POST" action="/login">
        <h2 class="form-signin-heading">Please sign in</h2>
            <box>
              {% with messages = get_flashed_messages() %}
                        {% if messages %}
                        <div class="notification is-danger">
                            {{ messages[0] }}
                        </div>
                        {% endif %}
              {% endwith %}
            </box>
        {{ form.hidden_tag() }}
        {{ wtf.form_field(form.email) }}
        {{ wtf.form_field(form.password) }}
        {{ wtf.form_field(form.remember) }}
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        </svg>
        <br />
        <a href="/forgetpassword" style='color: #222222'>forget password</a> <a href="/signup" style='color: #222222'>sign up</a>
        <br />
      </form>

    </div> <!-- /container -->

{% endblock %}